header.cabecalho{
    width: 100%;
    height: 155px !important;
    margin-bottom: 0;
}

div.logoMenu{
    background-color: rgba(0, 0, 0, 0.911);
}
div.socialContainer{
    background-color: rgba(0, 0, 0, 0.952);
}

footer{
    margin:0;
}

/*sessao contratar*/

section.contratar{
    padding: 50px;
    position: relative;
    z-index: 11;
    width: 100%;
}

.contratarCorp h2{
  font-family: var(--font-primaria);
  font-size: 3rem;
  margin-bottom: 60px;
}

.formDj{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formDj form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formDj .dadosPess{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.formDj .dadosPess label{
    font-family: var(--font-terciaria);
    margin-bottom: 5px;
}

.formDj .dadosPess input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #eee;
    outline: none;
}

.djInfo{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.djInfo .parte1{
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.parte1 label{
    font-family: var(--font-terciaria);
    margin-bottom: 5px;
}

.parte1 input, select{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #eee;
    outline: none;
}

.djInfo .part2{
    width: 400px;
}
.part2 label{
    font-family: var(--font-terciaria);
}

.part2 label.tMusica{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.part2 textarea{
    width: 500px;
    max-width:500px;
    height:110px;
    max-height: 120px;
    outline: none;
    padding: 10px;
    border: 1px solid #eee;
}

section.contratar p{
    font-family: var(--font-terciaria);
    margin:20px 0px;
}

section.contratar button{
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: red;
    border: none;
    font-family: var(--font-primaria);
    font-size: 1.2rem;
}

@media screen and (max-width:1071px){
    .contratarCorp h2{
        font-size: 2rem;
      }

      .formDj form{
        flex-wrap: nowrap;
    }

    .part2 textarea{
        width: 250px;
        max-width:250px;
    }
}

@media screen and (max-width:899px){
    .formDj form{
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .formDj .dadosPess{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px){
    .contratarCorp h2{
        font-size: 1.5rem;
      }

      .contratarCorp p{
        font-size: 14px;
      }

      .djInfo{
        display: block;
      }
}

